body {
    background-color: black;
    color: white;
    font-family: monospace;
}

a:link, a:visited {
    color: hotpink;
}

footer {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    img {
        max-width: 100%;
    }
}