---
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <h2 class="text-2xl text-purple lg:text-4xl">About me</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-purple"></span>
  </div>

  <div class="w-full font-body text-black dark:text-white lg:w-1/2">
    <p class="mb-2">
      After graduating in Mechanical Engineering, I joined a medical device
      startup in Cork that specialised in wearable devices designed to help
      diagnose sleep apnea. In this role, I collaborated with both the software
      and hardware design teams. Drawn to the more rapid iteration cycles of the
      software development, I decided to place my focus there.
    </p>
    <p class="mb-2">
      I applied and was accepted to a bootcamp at a Silicon Valley-based school
      called 42. The four-week syllabus focused on "The C Programming Language"
      book by Brian Kernighan and Dennis Ritchie, providing me with a solid
      foundation in a low-level programming language.
    </p>
    <p class="mb-2">
      After this, I completed a one-year postgraduate course in Software Design
      at NUIG. This educational experience further honed my hard and soft skills
      in software development.
    </p>
    <p class="mb-2">
      Following the postgraduate course, I relocated to Belfast to join an AI
      startup specialising in medical 3D printing. Here, I gained valuable
      experience working as part of an agile team and learned how to quickly
      iterate on product development applying machine learning techniques to
      segment medical images to produce 3D models.
    </p>
    <p class="mb-2">
      After my time in Belfast, I spent over a year building a carbon accounting
      platform at Sustain.life.
    </p>
  </div>
</section>
