---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-purple lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-purple"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			After graduating from Mechanical Engineering I joined a medical device startup in Cork specialising in wearable devices to diagnose sleep apnoea. I worked with the software and hardware design teams. The more I learned about software design and the fast iteration cycles the more excited I became. I decided to go all-in on software. 
		</p>
		<p class="mb-2">
			I applied and got accepted to a bootcamp in a Silicon Valley based school called 42. The four week syllabus covered "The C Programming Language" book written by Brian Kernighan and Dennis Ritchie. Learning a low level language gave me a great foundation. 
		</p>
		<p class="mb-2">
			I decided to do a 1 year postgraduate course in NUIG in Software Design. After this I moved to Belast to join a startup specialising in medical 3D printing. Here I learned how to work as part of an agile team and quickly iterate on a product. Following my time here I spent a year building a carbon accounting platform at Sustain.Life.
		</p>
	</div>
</section>
