---
import Card from "@components/ui/Card.astro";
import { getCollection } from "astro:content";

const experience = await getCollection("experience", ({ data }) => {
  return !data.inProgress;
});
---

<section
  data-testid="experience"
  id="experience"
  class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <h2 class="font-monospace text-2xl text-purple lg:text-4xl">Experience</h2>
    <span class="mb-10 h-1 w-10 bg-purple"></span>
  </div>
  <div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
    {
      experience.map((exp) => (
        <Card
          url={exp.data.link}
          title={exp.data.title}
          alt={exp.data.img_alt}
          tags={exp.data.tags}
        />
      ))
    }
  </div>
  <a
    href="https://github.com/schm00g"
    target="_blank"
    rel="noopener"
    class="flex flex-row text-black hover:text-purple dark:text-white dark:hover:text-purple"
    aria-label="View personal github repositories"
  >
    View personal github repositories
    <svg 
      class="ml-1 mt-0.5 h-6 w-6" 
      stroke-width="1.5" 
      stroke="currentColor" 
      viewBox="0 0 24 24" 
      fill="none" 
      xmlns="http://www.w3.org/2000/svg">
      <path 
        d="M7 17L17 7M17 7H8M17 7V16" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round"></path>
    </svg>
  </a>
</section>
